<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-button (click)="companiesCreate()" >Companies</ion-button>
  <ion-button ion-button color="secondary">Products</ion-button>
  <ion-button ion-button color="danger">Paymethods</ion-button>

  <div class="mbsc-padding">
    <h3>Scrollable list</h3>
    <mbsc-scrollview [options]="settings">
        <mbsc-scrollview-item mbsc-card *ngFor="let bird of birds">
            <img [src]="bird.img" draggable="false">
            <mbsc-card-content>{{bird.name}}</mbsc-card-content>
        </mbsc-scrollview-item>
    </mbsc-scrollview>
    <h3>Grid view</h3>
    <div class="mbsc-grid">
        <div class="mbsc-row mbsc-justify-content-center mbsc-no-padding">
            <div class="mbsc-col-12 mbsc-col-sm-6 mbsc-col-lg-4 mbsc-col-xl-3" *ngFor="let animal of animals">
                <mbsc-card>
                    <img [src]="animal.img" draggable="false">
                    <mbsc-card-content>
                        <mbsc-card-title>{{animal.name}}</mbsc-card-title>
                        <p class="mbsc-txt-muted">{{animal.about}}</p>
                    </mbsc-card-content>
                </mbsc-card>
            </div>
        </div>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="5" size-md="4" size-sm="6" size="5" *ngFor="let article of articles; let i=index;">
        <ion-card>
          <img src="{{article.image}}" alt="{{article.title}}"/>
          <ion-card-header>
            <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-header class="ion-no-border">

	<ion-item lines="none">

		<ion-avatar slot="start">
			<img src="assets/images/cat1.jpg">
    </ion-avatar>
			<ion-label>
				<p>Hello Admin</p>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>

  <div class="container">

    <h2>Statistics</h2>

    <ion-grid>
      <!-- row 1 -->
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Number of Companies</ion-card-subtitle>
              <ion-card-title>10</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-right">
              <ion-button color="medium" (click)="companiesIndex()">
                <ion-icon slot="start" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Number of Products</ion-card-subtitle>
            <ion-card-title>5</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-right">
            <ion-button color="medium" (click)="productsIndex()">
              <ion-icon slot="start" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>

        </ion-col>
      </ion-row>

      <!-- row 2 -->
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Number of Paymethods</ion-card-subtitle>
              <ion-card-title>10</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-right">
              <ion-button color="medium" (click)="paymethodsIndex()">
                <ion-icon slot="start" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Number of Invoices</ion-card-subtitle>
            <ion-card-title>5</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-right">
            <ion-button color="medium" (click)="invoicesIndex()">
              <ion-icon slot="start" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>

        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>
